@import '~antd/dist/antd.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
    height: 100vh;
}

.mobile-text {
    display: none !important;
}

.sider-title {
    color: #1890ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sider-icon {
    display: inline-block;
    font-size: x-large;
    padding: 10px;
    vertical-align: middle;
}

.sider-next-gw {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.sider-title-text {
    display: inline-block;
    font-size: large;
    vertical-align: middle;
}

.slider-season {
    color: #1890ff;
    text-align: center;
    padding-bottom: 15px;
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
    padding: 24px;
    min-height: 360px;
}

.site-layout-content {
    margin: 24px 16px 0;
}

[data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
}

@media only screen and (max-width: 600px) {
    .ant-layout-sider {
        min-width: 0 !important;
        max-width: 100px !important;
        width: 100px !important;
    }

    .desktop-text {
        display: none !important;
    }

    .mobile-text {
        display: inline !important;
    }

    .sider-nav {
        font-size: small;
    }

    .sider-season {
        padding-bottom: 10px;
    }
}